[Unit]
Description=Start listening for data transmitting to the Software-Defined Radio
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/weather_station/switchdoc_labs/weathersense/monitor.py

[Install]
WantedBy=multi-user.target


# sudo chmod 644 /lib/systemd/system/<name>.service
# https://www.dexterindustries.com/howto/run-a-program-on-your-raspberry-pi-at-startup/
#sudo systemctl daemon-reload
# sudo systemctl enable <name>.service
